@font-face {
  font-family: opensans;
  src: url(/assets/fonts/OpenSans-Bold.ttf); }
@font-face {
  font-family: openregular;
  src: url(/assets/fonts/OpenSans-Regular.ttf); }
@font-face {
  font-family: quicksand;
  src: url(/assets/fonts/Quicksand-Regular.ttf); }
@font-face {
  font-family: slabo;
  src: url(/assets/fonts/Slabo27px-Regular.ttf); }
#header {
  width: 100%;
  background-color: #fff;
  padding: 15px; }
  #header .header-m {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    #header .header-m .bars {
      color: #707070;
      font-size: 20px; }
      @media screen and (min-width: 768px) {
        #header .header-m .bars {
          display: none; } }
    #header .header-m .nav-icon {
      font-size: 30px;
      color: #4D4D4D;
      font-family: slabo; }
      #header .header-m .nav-icon:hover {
        text-decoration: none; }
    #header .header-m .nav-bg {
      background-color: #fff;
      width: 100%;
      text-align: center;
      position: absolute;
      left: 0;
      top: 75px;
      padding: 20px;
      display: none;
      z-index: 1; }
      @media screen and (min-width: 768px) {
        #header .header-m .nav-bg {
          position: static;
          width: auto;
          display: flex !important;
          padding: 0; } }
      #header .header-m .nav-bg ul {
        border: 1px solid #727272;
        border-radius: 5px;
        margin-bottom: 0;
        list-style: none;
        padding: 0; }
        @media screen and (min-width: 768px) {
          #header .header-m .nav-bg ul {
            border: 0;
            border-radius: 0;
            margin: 0;
            display: flex; } }
        @media screen and (min-width: 768px) {
          #header .header-m .nav-bg ul li {
            margin-left: 10px; } }
        #header .header-m .nav-bg ul li a {
          display: block;
          padding: 20px;
          border-bottom: 1px solid #727272;
          color: #4D4D4D; }
          #header .header-m .nav-bg ul li a:hover {
            background-color: rgba(114, 114, 114, 0.1);
            text-decoration: none; }
          @media screen and (min-width: 768px) {
            #header .header-m .nav-bg ul li a {
              padding: 0;
              border-bottom: 0; }
              #header .header-m .nav-bg ul li a:hover {
                text-decoration: underline;
                background-color: rgba(114, 114, 114, 0); } }

#hero {
  background-color: red;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  @media screen and (min-width: 768px) {
    #hero {
      height: 400px; } }
  #hero .hero {
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute; }
    #hero .hero .hero-title {
      color: #4D4D4D;
      font-size: 30px;
      font-family: quicksand; }
      @media screen and (min-width: 768px) {
        #hero .hero .hero-title {
          font-size: 36px; } }
    #hero .hero .hero-text {
      color: #4D4D4D;
      font-size: 16px;
      font-family: quicksand;
      margin-top: 30px; }
    #hero .hero .buttom {
      background-color: #4D4D4D;
      padding: 10px 30px;
      border-radius: 30px;
      border: 0;
      color: #fff;
      margin-top: 45px;
      cursor: pointer; }

#icons {
  width: 100%;
  background-color: #fff; }
  #icons .icon-container {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto; }
  #icons .icons-bg {
    text-align: center; }
    #icons .icons-bg .icon {
      font-size: 60px;
      color: #4D4D4D; }
    #icons .icons-bg .icon-title {
      font-size: 16px;
      color: #4D4D4D;
      font-family: opensans;
      margin-top: 10px; }
    #icons .icons-bg .icon-text {
      font-size: 14px;
      color: #727272;
      font-family: openregular;
      margin-top: 25px;
      margin-bottom: 45px; }

#work {
  width: 100%;
  background-color: #fff;
  text-align: center; }
  #work .recent-work {
    width: 100%;
    font-size: 20px;
    color: #4D4D4D;
    font-family: opensans;
    margin-bottom: 15px; }
  #work .work-img {
    max-width: 240px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden; }
    #work .work-img img {
      transition: all 1000ms ease-in-out; }
      #work .work-img img:hover {
        transform: scale(1.1); }
    #work .work-img .overlay {
      position: absolute;
      left: 0;
      bottom: -105px;
      transition: bottom 2000ms ease-in-out;
      background-color: rgba(132, 59, 98, 0.1); }

#footer-top {
  width: 100%;
  background-color: #3B3B3B; }
  #footer-top .title-footer {
    font-size: 20px;
    color: #fff;
    font-family: opensans;
    margin-top: 70px; }
    @media screen and (min-width: 768px) {
      #footer-top .title-footer {
        margin-top: 0; } }
  #footer-top .content-footer {
    font-size: 16px;
    color: #fff;
    font-family: openregular; }
  #footer-top ul {
    list-style: none;
    padding: 0; }
    #footer-top ul li {
      margin-top: 10px;
      margin-bottom: 10px; }
      #footer-top ul li a {
        cursor: pointer; }

#footer-bottom {
  background-color: #2A2A2A;
  text-align: center; }
  #footer-bottom .space {
    margin-bottom: 55px;
    margin-top: 55px; }
    @media screen and (min-width: 768px) {
      #footer-bottom .space {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;
        margin-bottom: 30px; } }
    #footer-bottom .space .title-bottom {
      font-size: 16px;
      color: #fff;
      font-family: openregular; }
    #footer-bottom .space .icon-content {
      display: flex;
      justify-content: center; }
      #footer-bottom .space .icon-content .icon-footer {
        font-size: 20px;
        color: #fff;
        margin-left: 20px; }

.wrapper {
  padding-top: 50px;
  padding-bottom: 50px; }

/*# sourceMappingURL=style.css.map */
