@font-face {
    font-family: opensans;
    src: url(/assets/fonts/OpenSans-Bold.ttf)
}

@font-face {
    font-family: openregular;
    src: url(/assets/fonts/OpenSans-Regular.ttf)
}

@font-face {
    font-family: quicksand;
    src: url(/assets/fonts/Quicksand-Regular.ttf)
}

@font-face {
    font-family: slabo;
    src: url(/assets/fonts/Slabo27px-Regular.ttf)
}

